<h1>Top Page</h1>
<p>You can see user skill by click</p>
<% @users.each do |user| %>
<h2><%= link_to user.name, user_path(user) %></h2>
<% end  %>

<% @user=User.new %>
<%= form_for(@user) do |u| %>
<%= u.text_field :name %>
<%=  u.submit %>
<% end %>
