<head>
 <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" rel="stylesheet"
  href="http://code.jquery.com/ui/1.10.3/themes/cupertino/jquery-ui.min.css" />
<script type="text/javascript"
  src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript"
    src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    <script type="text/javascript">
  
   
   $(function() {
       var data = [
           'C',
           'C++',
           'C#',
           'ruby',
           'perl',                 
             'python',
                       'OCaml',
             'JAVA',
                 'Javascript',
                    'PHP',
                   'R','HTML' ];
                                                             
                                                               
                                                                 $('#skill_name').autocomplete({
                                                                       source: data,
                                                                           autoFocus: true,
                                                                               delay: 500,
                                                                                   minLength: 1
                                                                                     });
   });
    
    
    </script>

</head>
<body>
<h1>名前 : <%= @user[:name] %></h1>
<h2>Skills</h2>
<table  class="table table-inverse">
<thead>
  <tr>
    
    <th>skill</th>
    <th>Good</th>
  </tr>
</thead>

<tbody>
<% @skills.each do |s| %>
<tr>
  <td><h4> <%= s[:name] %></h4></td>
  <td><h4><%= s[:good] %></h4></td>
  <td> <%= link_to "+","skills/like/"+s.id.to_s+"/"+@user[:id].to_s ,class: "btn btn-success " %></td> 
  
</tr>
<% end  %>
</tbody>
</table>


<% @skill=Skill.new %>
<%= form_for @skill  do |s| %>
<%= s.text_field :name,id: 'skill_name',class: '' %>
<%= s.hidden_field :userID, :value => @user[:id] %>
<%= s.hidden_field :good, :value => 0 %>
<%=  s.submit "add skill", class: 'btn btn-primary'  %>
<% end %>
</body>
